<div class="about-bkg">

  <div class="about-content">
    <div class="about-textbox">
      <img src="" alt="CG-rock">

      <h2>WEAR ME OUT</h2>
      <p>Common Ground was founded <br>
         Common Ground was founded <br>
         Common Ground was founded <br>
         Common Ground was founded <br>
      </p>
    </div>

    <div class="about-pic">
      <%= image_tag("about-pic.jpg", :alt => "Model") %>
    </div>

  </div>

</div>

