<div class="about-bkg">

  <!-- Desktop view -->
  <div class="d-about-content hidden-xs">
    <div class="d-about-textbox text-center">
      <%= image_tag("CG-rock.jpg", :alt => "CG rock") %>

      <h2>WEAR ME OUT</h2>
      <p>Common Ground was founded <br>
         Common Ground was founded <br>
         Common Ground was founded <br>
         Common Ground was founded <br>
      </p>
    </div>

    <div class="d-about-pic">
      <%= image_tag("about-pic.jpg", :alt => "Model") %>
    </div>

  </div>

  <!-- Mobile view -->
  <div class="m-about-content hidden-sm hidden-md hidden-lg">
    <div class="m-about-textbox text-center">
      <%= image_tag("CG-rock.jpg", :alt => "CG rock") %>

      <h2>WEAR ME OUT</h2>
      <p>Common Ground was founded <br>
         Common Ground was founded <br>
         Common Ground was founded <br>
         Common Ground was founded <br>
      </p>
    </div>

    <div class="m-about-pic">
      <%= image_tag("about-pic.jpg", :alt => "Model") %>
    </div>

  </div>

</div>

