<div class="wrapper">
  <div class="container">
    <!-- <div class="col-xs-12 col-sm-6 col-offeset-sm-3"> -->

      <div class="home-slogan">
        <h2>Slowing down <br>not giving in</h2>
      </div>


      <div class="home-btn text-center">
        <a href="#">See the collection</a>
      </div>

    <!-- </div> -->
  </div>
</div>

