.footer {
  background: $cg-space;
  //display: flex;
  //align-items: center;
  //justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  // color: rgba(0,0,0,0.3);
  color: $cg-white;
  position: relative;
}
.footer-copyright {
  position: absolute;
  top: 15px;
  right: 10px;
  font-weight: lighter;
  font-size: 13px;

}
.footer .fa-heart {
  color: $cg-green;
}
