
<div class="lookbook-bkg">

  <div class="col-xs-12 col-sm-8-offset-2">
    <div class="row">
    <div class="cards-container">

          <div class="card">
            <a href="#">
              <div class="card-img">

              </div>
              <div class="card-text-content">
                <div class="prod-name">
                  Active top
                </div>
                <div class="prod-price">
                  £45
                </div>
              </div>
            </a>
          </div>

          <div class="card">
            <a href="#">
              <div class="card-img">

              </div>
              <div class="card-text-content">
                <div class="prod-name">
                  Leggings
                </div>
                <div class="prod-price">
                  £50
                </div>
              </div>
            </a>
          </div>

          <div class="card">
            <a href="#">
              <div class="card-img">

              </div>
              <div class="card-text-content">
                <div class="prod-name">
                  Sports bra
                </div>
                <div class="prod-price">
                  £29
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
</div>

