<div class="lookbook-bkg">
  <div class="product-details">

    <div class="product-photo">
      <%= image_tag("leggings.jpg", :alt => "Leggings") %>
    </div>

    <div class="product-information">
      <div class="product-title">
        Leggings
      </div>

      <div class="product-price">
        £45
      </div>

      <div class="size-options">

      </div>

      <div class="product-description">
        TODO
      </div>

    </div>
  </div>

</div>

