<h3><%= @product.title %></h3>
<h3><%= @product.price %></h3>
<p><%= @product.description %></p>
<div class="size-selection">
  <%= @product.size %>
  <!-- this should be an array of options like the cocktail doses selection? SizeS(plural) -->
</div>
